<!--<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> - microblog</title>		
		<link href="stylesheets/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body{
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="../public/stylesheets/bootstrap-theme.css" rel="stylesheet">
	</head>
	<body>
    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</a>
    				<a class="brand" href="/">microblog</a>
    				<div class="nav-collapse">
    					<ul class="nav">
    						<li class="active"><a href="/">home</a></li>
    						<li><a href="/login">login</a></li>
    						<li><a href="/reg">register</a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div id="container" class="container">
    		<%- body %>
    		<hr />
    		<footer>BY JING 2017</footer>
    	</div>
	</body>
	<script src="javascripts/jquery-3.2.1.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
</html>-->